<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="icon" href="static/images/logo.png">
    <link rel="stylesheet" href="static/css/account/register.css">
</head>
<body>
    <h1>Log in to your account</h1>
    <form action="{{ url_for('auth_post') }}" method="post">
    <input type="text" name="username" placeholder="Enter username : ">
    <input type="password" name="password" placeholder="Enter password :">
    <button type="submit">Save</button>

    </form>
    <h2>{{message}}</h2>

</body>
</html>