<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">
</head>
<body>

<header>
    <div class="container">
        <h1 class="text-center">Your Cart</h1>
    </div>
</header>

<div class="container mt-5">
    <div class="card">
        <div class="product">
            {% if product.id == 1 %}
                <img src="{{ url_for('static', filename='images/consoles/image1.jpg') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 2 %}
                <img src="{{ url_for('static', filename='images/consoles/image2.webp') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 3 %}
                <img src="{{ url_for('static', filename='images/consoles/image3.jpg') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 4 %}
                <img src="{{ url_for('static', filename='images/consoles/image4.webp') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 5 %}
                <img src="{{ url_for('static', filename='images/consoles/image5.avif') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 6 %}
                <img src="{{ url_for('static', filename='images/consoles/image6.webp') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 7 %}
                <img src="{{ url_for('static', filename='images/consoles/image7.avif') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 8 %}
                <img src="{{ url_for('static', filename='images/consoles/image8.avif') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 9 %}
                <img src="{{ url_for('static', filename='images/consoles/image10.jpg') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 10 %}
                <img src="{{ url_for('static', filename='images/consoles/image11.webp') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 11 %}
                <img src="{{ url_for('static', filename='images/phones/image9.webp') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 12 %}
                <img src="{{ url_for('static', filename='images/phones/image12.avif') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 13 %}
                <img src="{{ url_for('static', filename='images/phones/image13.avif') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 14 %}
                <img src="{{ url_for('static', filename='images/phones/image14.avif') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 15 %}
                <img src="{{ url_for('static', filename='images/phones/image15.avif') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 16 %}
                <img src="{{ url_for('static', filename='images/phones/image16.avif') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 17 %}
                <img src="{{ url_for('static', filename='images/phones/image17.avif') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 18 %}
                <img src="{{ url_for('static', filename='images/phones/image18.avif') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 19 %}
                <img src="{{ url_for('static', filename='images/games/image19.avif') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 20 %}
                <img src="{{ url_for('static', filename='images/games/image20.jpg') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 21 %}
                <img src="{{ url_for('static', filename='images/games/image21.avif') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 22 %}
                <img src="{{ url_for('static', filename='images/games/image22.avif') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 23 %}
                <img src="{{ url_for('static', filename='images/games/image23.avif') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 24 %}
                <img src="{{ url_for('static', filename='images/games/image24.jpg') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 25 %}
                <img src="{{ url_for('static', filename='images/games/image25.webp') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 26 %}
                <img src="{{ url_for('static', filename='images/games/image26.webp') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 27 %}
                <img src="{{ url_for('static', filename='images/games/image27.avif') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% elif product.id == 28 %}
                <img src="{{ url_for('static', filename='images/games/image28.jpg') }}" alt="{{ product.name }} image" style="max-width: 350px;">
            {% endif %}

        </div>
        <div class="card-body">
            <h2>{{product.name}}</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Description</td>
                        <td>{{product.description}}</td>
                    </tr>

                    <!-- More attributes here -->
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td>{{product.price}} $</td>
                    </tr>
                </tfoot>
            </table>
            <a href="/" class="btn-primary">Remove</a>

        </div>
    </div>
</div>

<footer>
    <div class="container">
        <p class="text-center">© 2024 Online Store. All rights reserved.</p>
    </div>
</footer>

</body>
</html>
